{
	"id":"gridappsd-static-ybus-service",
	"description": "Static Ybus Service",
	"creator":"PNNL",
	"inputs":[],
	"outputs":[],
	"static_args":[],
	"execution_path":"/gridappsd/services/gridappsd-toolkit/static-ybus/static_ybus_service.py",
	"type":"PYTHON",
	"launch_on_startup": true,
        "prereqs":[],
	"multiple_instances":false,
	"environmentVariables":[]
}
