{
	"id":"gridappsd-dynamic-ybus-service",
	"description": "Dynamic Ybus Service",
	"creator":"PNNL",
	"inputs":[],
	"outputs":[],
	"static_args":["(simulationId)","(request)"],
	"execution_path":"/gridappsd/services/gridappsd-toolkit/dynamic-ybus/dynamic_ybus.py",
	"type":"PYTHON",
	"launch_on_startup":false,
        "prereqs":[],
	"multiple_instances":false,
	"environmentVariables":[]
}
